@import "tailwindcss";

* {
  font-family: "Barlow", sans-serif;
}


.items{
  position: relative;
}

.items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  text-align: center;
  background-color:white;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.items:hover::after {
  transform: scaleX(1);
}

.fntstyle {
  font-family: "Abril Fatface", serif;
}

.imageshadow {
  filter: drop-shadow(8px 8px 16px rgb(1, 40, 1));
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 20%);
  transform-origin: bottom right;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}


#bg1 {
    background-image: url(https://img.freepik.com/premium-photo/sports-equipment-black-background-cinematic-graphics_1015293-103576.jpg);
    background-size: cover;
   background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}


.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.login-left {
  flex: 1.3;
  background:black; 
  display: flex;
  align-items: center;
  justify-content: center;
}




.login-right {
  flex: 1;
  background: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
}

.login-right h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.login-right p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form .forgot {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 13px;
  color: #444;
  text-decoration: none;
}


.or-separator {
  text-align: center;
  margin: 15px 0;
  color: #777;
}

.or-separator span {
  background: white;
  padding: 0 8px;
}


[class^="number-slide"],
[class*=" number-slide"] {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}
